@import url('https://rawcdn.githack.com/gevuz/FONT-BEATLES/a063f4fd22aadc057c1d70176da34b3f3db14fcf/stylesheet.css');
@import url('https://rawcdn.githack.com/gevuz/SF-PRO-FONT/c62b71fafd77ed9394da044c16c7bc4de67f22b3/SFPRO.css');

    h1 {
      font-family: 'BEATLES';
    }

    p {
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.5px;
  }
    body {
      font-family: 'sf_pro_displayregular';
      margin: 0;
      padding: 0;
    }
    header {
      background-color: #333;
      color: white;
      padding: 10px 0;
      text-align: center;
    }
    nav {
      background-color: #444;
      padding: 10px;
      text-align: center;
    }
    nav a {
      color: white;
      margin: 0 15px;
      text-decoration: none;
    }
    .container {
      display: flex;
      margin: 20px;
    }
    .main-content {
      flex: 3;
      padding: 20px;
    }
    .sidebar {
      flex: 1;
      padding: 20px;
      background-color: #f4f4f4;
      margin-left: 20px;
    }
    footer {
      background-color: #333;
      color: white;
      text-align: center;
      padding: 10px 0;
      position: fixed;
      bottom: 0;
      width: 100%;
    }
